* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  color: #333;
}

@mixin input {
  background-color: #f2f2f2;
  padding: 11px 10px;
  box-sizing: border-box;
  border: none;
}

.container {
  max-width: 1000px;
  padding: 60px 10px;
  margin: 0 auto;
  box-sizing: border-box;

  h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
  }

  .form_area {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    dt {
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #3d546a;
      padding: 30px 15px;
      box-sizing: border-box;
      margin-bottom: 2px;
      color: #fff;
      font-size: 14px;

      span {
        color: #e85c4e;
        background-color: #fff;
        font-size: 12px;
        padding: 0 8px;
        box-sizing: border-box;
        line-height: 18px;
      }
    }

    dd {
      width: 70%;
      color: #333;
      background-color: #fff;
      padding: 22px 15px 20px;
      box-sizing: border-box;
      margin-bottom: 2px;
      font-size: 14px;

      #name {
        width: 100%;
        @include input;
      }

      #num1 {
        max-width: 80px;
        @include input;
      }

      #num2 {
        max-width: 80px;
        @include input;
      }

      #num3 {
        max-width: 80px;
        @include input;
      }

      #datepicker {
        max-width: 200px;
        @include input;
      }

      .lesson {
        margin-right: 5px;
        position: relative;
        top: 2px;

        &:first-child {
          margin-bottom: 10px;
        }
      }

      .error-text {
        font-size: 14px;
        margin-top: 2px;
        color: #de3f2e;
      }
    }
  }

  .online-text {
    padding: 0 30px;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .offline-text {
    padding: 0 30px;
    margin-bottom: 30px;
    font-size: 14px;
    display: none;
  }

  .button-area {
    text-align: center;

    &:hover {
      opacity: 0.8;
    }

    #submit-button {
      background-color: #e85c4e;
      border-radius: 5px;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      padding: 20px 40px;
      text-align: center;
      border: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 600px) {
  .container {
    .form_area {
      dt {
        width: 100%;
        padding: 10px;
        display: block;
        margin-bottom: 0;
        span {
          margin-left: 5.5px;
        }
      }

      dd {
        width: 100%;
        padding: 10px;
        margin-bottom: 9.5px;
      }
    }

    .online-text,
    .ofline-text {
      padding: 0 10px;
    }
  }
}
